<div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-1 col-md-7 main-content">
          <div class="lan">
            <a routerLink="/">
              <img class="language" src="../../assets/english.png" title="English" height="50px" width="50px">
            </a>
          </div>
          <br>
          <h1 id="hello-">Bonjour! 👋</h1>
          <h3 id="about-me">À propos de moi</h3>
          <p>Je suis un développeur de logiciels passionné avec un fort intérêt pour les concepts d'automatisation et les technologies open-source. Mon profil GitHub met en évidence mes contributions à divers projets personnels et mon enthousiasme à collaborer avec d'autres membres de la communauté technologique.</p>
          <p>Je viens de Tunisie et j'ai de l'expérience avec des langages de haut niveau. <br>Je suis également un ingénieur full-stack et un designer d'interface utilisateur, qui utilise Angular <em>(frontend)</em>, Java EE <em>(backend)</em> et Figma <em>(conception d'interface utilisateur)</em>. </p>
          <h3 id="how-it-started-">Comment cela a commencé 🌱</h3>
          <p>J'ai commencé à programmer quand j'avais 11 ans. Je ne l'ai pas pris trop au sérieux et je jouais simplement avec du code. <br>Ensuite, à l'âge de 14 ans, je me suis intéressé à la programmation de bots Discord avec JavaScript. C'était un début chaotique, mais j'ai réussi à continuer à le faire! <br>J'ai commencé à prendre cela plus au sérieux à partir de là et j'ai appris de nombreux langages et concepts au lycée et à l'université. <br>C'était un voyage amusant. J'ai découvert beaucoup de connaissances que je n'aurais probablement jamais pu apprendre si je n'avais pas eu la motivation de le faire. </p>
          <h3 id="experience-">Expérience ✨</h3>
          <ul>
            <li>Arabe : Langue maternelle</li>
            <li>Anglais : Courant</li>
            <li>Français : Intermédiaire</li>
          </ul>
          <p>J'ai de l'expérience dans le développement d'applications web et de logiciels de bureau en utilisant des langages tels que Python, Java, JavaScript et C. <br>   <img title="Python" alt="Python" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/Python.png" width="40" height="40" style="vertical-align:down; margin:4px" />
            <img title="java" alt="java" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/java.png" width="40" height="40" style="vertical-align:down; margin:4px" />
            <img title="Javascript" alt="Javascript" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/Javascript.png" width="40" height="40" style="vertical-align:down; margin:4px" />
            <img title="c" alt="c" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/c.png" width="40" height="40" style="vertical-align:down; margin:4px" />
            <br> J'ai également une grande compréhension de MediaWiki et j'ai créé et maintenu plusieurs wikis à grande échelle📑 <br>
            <img title="MediaWiki" alt="MediaWiki" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/MediaWiki.png" width="40" height="40" style="vertical-align:down; margin:4px" />
            <br> J'ai une compréhension intermédiaire de PL/SQL et je maîtrise l'utilisation de frameworks populaires comme Angular et Bootstrap. <br>
            <img title="sql" alt="sql" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/sql.png" width="40" height="40" style="vertical-align:down; margin:4px" />
            <img title="angular" alt="angular" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/angular.png" width="40" height="40" style="vertical-align:down; margin:4px" />
            <img title="bootstrap" alt="bootstrap" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/bootstrap.png" width="40" height="40" style="vertical-align:down; margin:4px" />
          </p>
          <p>En plus de mes compétences techniques, j'accorde de l'importance à la communication, au travail d'équipe et à l'apprentissage continu. Je cherche toujours des moyens d'améliorer mes compétences et de contribuer à la communauté.</p>          <article>
            <section class="percentage-bar" data-percent="45%">
              <div class="title">
                <span>
                  <img title="Python" alt="Python" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/Python.png" width="40" height="40" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">40%</div>
            </section>
            <section class="percentage-bar" data-percent="70%">
              <div class="title">
                <span>
                  <img title="java" alt="java" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/java.png" width="40" height="40" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">70%</div>
            </section>
            <section class="percentage-bar" data-percent="55%">
              <div class="title">
                <span>
                  <img title="Javascript" alt="Javascript" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/Javascript.png" width="40" height="40" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">50%</div>
            </section>
            <section class="percentage-bar" data-percent="45%">
              <div class="title">
                <span>
                  <img title="c" alt="c" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/c.png" width="40" height="40" style="vertical-align:down; margin:4px" />
                  <br>
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">40%</div>
            </section>
            <section class="percentage-bar" data-percent="90%">
              <div class="title">
                <span>
                  <img title="MediaWiki" alt="MediaWiki" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/MediaWiki.png" width="40" height="40" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">90%</div>
            </section>
            <section class="percentage-bar" data-percent="55%">
              <div class="title">
                <span>
                  <img title="sql" alt="sql" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/sql.png" width="40" height="40" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">55%</div>
            </section>
            <section class="percentage-bar" data-percent="75%">
              <div class="title">
                <span>
                  <img title="angular" alt="angular" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/angular.png" width="40" height="40" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">75%</div>
            </section>
            <section class="percentage-bar" data-percent="80%">
              <div class="title">
                <span>
                  <img title="bootstrap" alt="bootstrap" src="https://raw.githubusercontent.com/Koussay-Akchi/Koussay-Akchi/main/images/bootstrap.png" width="40" height="40" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">80%</div>
            </section>
          </article>
          <h3 id="motivation-">Motivation 💦</h3>
          <p>Au début, je n'avais aucune motivation. Je jouais juste avec du code. Si ça fonctionnait, ça fonctionnait. Sinon, ça ne fonctionnait pas. Plus tard, j'ai commencé à programmer pour des tâches personnelles, <strong>comme automatiser des tâches quotidiennes et gagner du temps sur le travail manuel mais simple</strong>, et c'est à ce moment-là que je me suis investi dans le domaine. <br> Au début, je ne faisais que copier-coller du code. Ce qui est une très mauvaise pratique, mais j'ai finalement appris à lire la documentation. J'ai commencé à lire plus de documentation, que je pensais inutile au départ. Mais en en lisant davantage, je pense qu'elle est maintenant utile. Maintenant, je me sens suffisamment compétent pour résoudre tout problème que je rencontre lors de mon travail.</p>
          <h3 id="projects-">Projets 🔭</h3>
          <p>La plupart de mes projets sont purement <strong>à usage personnel</strong>, bien que je n'aie pas fait beaucoup de projets publics avec d'autres collaborateurs, je peux tous les lister ici.</p>
          <ul>
            <li>
              <a href="https://github.com/Koussay-Akchi/projetpet/">Projet-Pet</a> : un projet codé en ~2 mois pour l'université. J'ai contribué presque tout le code front-end et back-end pour ce site web. 👉 Voici un <a href="https://projet-pet.web.app/">site web en direct</a>.
                          </li>
          </ul>
          <h3 id="thank-you-">Merci 💖</h3> Merci d'avoir pris le temps de lire, j'apprécie ! N'hésitez pas à jeter un coup d'œil à mes projets et n'hésitez pas à me contacter si vous avez des questions ou si vous souhaitez collaborer sur quelque chose ! 

          <h3 id="contact-">Contact 📝</h3>
          <ul>
            <li>Email: akchikoussay@gmail.com</li>
            <li><a href="https://github.com/Koussay-Akchi">Github</a></li>
          </ul>
        </div>
        
        <div class="col-md-3 bg-info sidebar">
          <img class="img-fluid profile-pic" src="../../assets/profile.jpg" height="150px" width="150px" alt="Profile Picture">
          <h2>Koussay Akchi</h2>
          <h4>Etudiant SI Genie Logiciel</h4>
          <hr>
          <p>Email: akchikoussay@gmail.com</p>
          <p>Telephone: (+216) 40 862 777</p>
          <p>Emplacement: Tunis, Tunisia</p>
          <hr>
          <h4>Intérêts 🤔</h4>
            <p>Automatisation</p>
            <p>Développement de logiciels commerciaux</p>
            <p>Développement Web</p>
            <p>Scripting</p> 
        </div>
      </div>
    </div>
  </div>