@import "~bootstrap/dist/css/bootstrap.min.css";

body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

  * {
    box-sizing: border-box;
  }

  .box {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
  }

.avatar{ 
    width: 100px; 
    height: 100px; 
    border-radius: 50px;
} 

.container {
    border-radius: 5px;
    padding: 20px 0 30px 0;
    padding-bottom: 2.5rem;
  } 



header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Style the navigation menu */
nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 1rem;
}

.lan{
  transition: transform 250ms;
}


.lan:hover{
    transform: scale(1.2) translateY(-5px);
  }

  .sidebar{
    text-align: center;
  }


  .sidebar {
    padding: 20px;
    color: white;
    border-radius: 50px;
  }
  .lan{
    display: flex;
    justify-content: center;
  }
  
  .profile-pic {
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .main-content {
    padding: 20px;
  }
  
  
  .container-fluid{
    margin-top: 0px;
  }

  .main{
    background-color:grey;
  }

  .main-content{
    border-radius: 50px;
    background-color: #333;
    color: #f8f9fa;
  }


  .wrapper {
    font-family: 'HelveticaNeueThin', 'HelveticaNeue-Thin', 'Helvetica', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    animation-name: bounce-up;
    animation-duration: 2s;
}

@keyframes bounce-up {
  0% {
    transform: translate(-0%, -0%);
  }
  25% {
    transform: translate(-0%, -10%);
  }
  50% {
    transform: translate(-0%, -0%);
  }
  75% {
    transform: translate(-0%, -10%);
  }
  100% {
    transform: translate(-0%, -0%);
  }
}

.percentage-bar {
    background: #fff;
    display: block;
    height: 50px;
    position: relative;
    transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    -webkit-transition-property: width, background-color;
    width: 100%;
}

.title {
    color: #ffffff;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
}

.title span {
    background: rgba(0, 0, 0, 0.1);
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
}

.bar {
    height: 50px;
    width: 0px;
}

.percent {
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 10px;
    top: 0;
}

section.percentage-bar:last-child { margin-bottom: 15px; }

section.percentage-bar:first-child div.title { background: 	#4B8BBE; }
section.percentage-bar:first-child div.bar { background: #4B8BBE; }

section.percentage-bar:nth-child(2) div.title { background: #d35400; }
section.percentage-bar:nth-child(2) div.bar { background: #d35400; }

section.percentage-bar:nth-child(3) div.title { background: #F0DB4F; }
section.percentage-bar:nth-child(3) div.bar { background:  #F0DB4A; }

section.percentage-bar:nth-child(4) div.title { background: #2980b9; }
section.percentage-bar:nth-child(4) div.bar { background: #3498db; }

section.percentage-bar:nth-child(5) div.title { background: #561e9e; }
section.percentage-bar:nth-child(5) div.bar { background: #6f37db; }

section.percentage-bar:nth-child(6) div.title { background: grey; }
section.percentage-bar:nth-child(6) div.bar { background: grey; }

section.percentage-bar:nth-child(7) div.title { background: goldenrod; }
section.percentage-bar:nth-child(7) div.bar { background: goldenrod; }

section.percentage-bar:nth-child(8) div.title { background: #561e9e; }
section.percentage-bar:nth-child(8) div.bar { background: #6f37db; }

.overlayfr {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color:grey;
  z-index: 9999;
  transition:background-color 0.2s ease-in-out,  all 0.4s ease-out;
}

.showr {
  right: 0;
}


.overlayen {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: grey;;
  z-index: 999;
  transition: background-color 0.2s ease-in-out, all 0.4s ease-in-out; 
}

.showl {
  left: 0;
}

.overlayhome {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 999;
  transition: background-color 0.4s ease-in-out, top 0.4s ease-in-out;
}

.showb {
  top: 0;
}

.overlayhome.showb {
  background-color: #333;
}