@import "~bootstrap/dist/css/bootstrap.min.css";

body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

  * {
    box-sizing: border-box;
  }

  .box {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
  }

.avatar{ 
    width: 100px; 
    height: 100px; 
    border-radius: 50px;
} 

.container {
    border-radius: 5px;
    padding: 20px 0 30px 0;
    padding-bottom: 2.5rem;
  } 



header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Style the navigation menu */
nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 1rem;
}

.lan{
  transition: transform 250ms;
}

img{
  height: 40px;
  width: 40px;
}


.lan:hover{
    transform: scale(1.2) translateY(-5px);
  }

  .sidebar{
    text-align: center;
  }


  .sidebar {
    padding: 20px;
    color: white;
    border-radius: 50px;
  }
  .lan{
    display: flex;
    justify-content: center;
  }
  
  .profile-pic {
    border-radius: 50%;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    }
  
  .main-content {
    padding: 20px;
  }
  
  
  .container-fluid{
    margin-top: 0px;
  }

  .main-content{
    border-radius: 50px;
    background-color: #333;
    color: #f8f9fa;
  }


  .wrapper {
    font-family: 'HelveticaNeueThin', 'HelveticaNeue-Thin', 'Helvetica', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    animation-name: bounce-up;
    animation-duration: 2s;
}

@keyframes bounce-up {
  0% {
    transform: translate(-0%, -0%);
  }
  25% {
    transform: translate(-0%, -10%);
  }
  50% {
    transform: translate(-0%, -0%);
  }
  75% {
    transform: translate(-0%, -10%);
  }
  100% {
    transform: translate(-0%, -0%);
  }
}

.percentage-bar {
    background: #fff;
    display: block;
    height: 50px;
    position: relative;
    transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    -webkit-transition-property: width, background-color;
    width: 100%;
}

.title {
    color: #ffffff;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
}

.title span {
    background: rgba(0, 0, 0, 0.1);
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
}

.bar {
    height: 50px;
    width: 0px;
    border-top-right-radius: 50px;
}

.percent {
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 10px;
    top: 0;
}

section.percentage-bar:last-child { margin-bottom: 15px; }

section.percentage-bar:first-child div.title { background: 	#4B8BBE; }
section.percentage-bar:first-child div.bar { background: #4B8BBE; }

section.percentage-bar:nth-child(2) div.title { background: #d35400; }
section.percentage-bar:nth-child(2) div.bar { background: #d35400; }

section.percentage-bar:nth-child(3) div.title { background: #F0DB4F; }
section.percentage-bar:nth-child(3) div.bar { background:  #F0DB4A; }

section.percentage-bar:nth-child(4) div.title { background: #2980b9; }
section.percentage-bar:nth-child(4) div.bar { background: #3498db; }

section.percentage-bar:nth-child(5) div.title { background: #561e9e; }
section.percentage-bar:nth-child(5) div.bar { background: #6f37db; }

section.percentage-bar:nth-child(6) div.title { background: grey; }
section.percentage-bar:nth-child(6) div.bar { background: grey; }

section.percentage-bar:nth-child(7) div.title { background: goldenrod; }
section.percentage-bar:nth-child(7) div.bar { background: goldenrod; }

section.percentage-bar:nth-child(8) div.title { background: #d35400; }
section.percentage-bar:nth-child(8) div.bar { background: #d35400; }

section.percentage-bar:nth-child(9) div.title { background: #4B8BBE; }
section.percentage-bar:nth-child(9) div.bar { background: #4B8BBE; }

section.percentage-bar.spanish div.bar {
  background: orange;
}

section.percentage-bar.spanish div.title {
  background: orange;
}

section.percentage-bar.arabic div.bar {
  background: #006400;
}

section.percentage-bar.arabic div.title {
  background: #006400;
}

section.percentage-bar.c-sharp div.bar {
  background: #561e9e;
}

section.percentage-bar.c-sharp div.title {
  background: #561e9e;
}




.overlayfr {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color:#131f55;
  z-index: 9999;
  transition:background-color 0.2s ease-in-out,  all 0.4s ease-out;
}

.showr {
  right: 0;
}


.overlayen {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #131f55;
  z-index: 999;
  transition: background-color 0.2s ease-in-out, all 0.4s ease-in-out; 
}

.showl {
  left: 0;
}

.overlayhome {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #131f55;
  z-index: 999;
  transition: background-color 0.4s ease-in-out, top 0.4s ease-in-out;
}

.showb {
  top: 0;
}

.overlayhome.showb {
  background-color: #131f55;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  height: 60px;
  border-radius: 100px;
  animation: fadeIn 0.5s ease-in forwards;
}


.fleche{
  height: 20px;
  width: auto;
}


.bg {
    background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}
.bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.3;
}
@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-300px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(300px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-300px);
        opacity: 0.25;
    }
    to {
        transform: translateZ(400px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-300px);
        opacity: 0.75;
    }
    to {
        transform: translateZ(700px);
        opacity: 0.5;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 10px;
    width: auto;
  }
  to {
    opacity: 1;
    height: 60px;
    width: auto;
  }
}
.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}
.star-field .layer {
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
        524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
        440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
        -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
        -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
        828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
        624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
        563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
        -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
        -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}
.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 15s linear infinite;
    animation-delay: 0s;
}
.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 15s linear infinite;
    animation-delay: 2s;
}
.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 15s linear infinite;
    animation-delay: 4s;
}