<div class="bg"></div>

<div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-1 col-md-7 main-content">
          <div class="lan">
            <a (click)="showOverlay()">
              <img src="../../assets/french.png" title="francais" height="50px" width="50px">
            </a>
          </div>
          <br>
          <h1 id="hello-">Hello! 👋</h1>
          <h3 id="about-me">About Me</h3>
          <p>I'm a passionate software developer with a strong interest in the concepts of automation and open-source technologies. <a href="https://github.com/Koussay-Akchi">My GitHub profile</a> showcases my contributions to various personal projects and my enthusiasm for collaborating with others in the tech community.</p>
          <p>I'm from Tunisia and I have experience with various high level languages. I'm also a full-stack engineer and a UI designer, who uses Angular <em>(frontend)</em>, Java EE/C# <em>(backend)</em>, Firebase<em>(Hosting and database)</em> and Figma <em>(UI designing)</em>. </p>
          <h3 id="how-it-started-">How it started 🌱</h3>
          <p>I started programming when I was 11. I didn't take it too seriously and was just playing around with some code. <br>Then as I was turning 14, I got interested in Discord bot programming with JavaScript. It was a rogue start, though I managed to continue doing so! <br>I started to take it more seriously from there on and learned many languages and concepts throught high school and university. <br>It was a fun journey. I've discovered a lot of knowledge which I probably would never get to learn if I didn't have the motivation to do so. </p>
          <h3 id="experience-">Experience ✨</h3>
          
          <p>I have experience in developing web applications and desktop software using languages such as Python, Java, JavaScript,C and C#. <br>
            <img title="Python" alt="Python" src="../../assets/Python.png" style="vertical-align:down; margin:4px" />
            <img title="java" alt="java" src="../../assets/java.png" style="vertical-align:down; margin:4px" />
            <img title="Javascript" alt="Javascript" src="../../assets/Javascript.png" style="vertical-align:down; margin:4px" />
            <img title="c" alt="c" src="../../assets/c.png" style="vertical-align:down; margin:4px" />
            <img title="c-sharp" alt="c-sharp" src="../../assets/c-sharp.png" style="vertical-align:down; margin:4px" />
            <br> i also have a great understanding of MediaWiki and have created and maintained multiple large scale Wikis📑 <br>
            <img title="MediaWiki" alt="MediaWiki" src="../../assets/MediaWiki.png" style="vertical-align:down; margin:4px" />
            <br> i have an intermediate understanding of PL/SQL and I'm proficient in using popular frameworks like Angular and Bootstrap. <br>
            <img title="sql" alt="sql" src="../../assets/sql.png" style="vertical-align:down; margin:4px" />
            <img title="angular" alt="angular" src="../../assets/angular.png" style="vertical-align:down; margin:4px" />
            <img title="bootstrap" alt="bootstrap" src="../../assets/bootstrap.png" style="vertical-align:down; margin:4px" />
          </p>
          <article>
            <section class="percentage-bar" data-percent="70%">
              <div class="title">
                <span>
                  <img title="French" alt="French" src="../../assets/french.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">Upper Intermediate (C1)</div>
            </section>
            <section class="percentage-bar" data-percent="95%">
              <div class="title">
                <span>
                  <img title="English" alt="English" src="../../assets/english.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">Fluent (C2)</div>
            </section>
            
            <section class="percentage-bar arabic" data-percent="100%">
              <div class="title">
                <span>
                  <img title="Arabic" alt="Arabic" src="../../assets/arabic.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">Native speaker (C2)</div>
            </section>

            <section class="percentage-bar spanish" data-percent="30%">
              <div class="title">
                <span>
                  <img title="Spanish" alt="Spanish" src="../../assets/spanish.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">Beginner (A2)</div>
            </section>

          </article>
          <p>In addition to my technical skills, I value communication, teamwork, and continuous learning. I'm always looking for ways to improve my skills and contribute to the community.</p>
          <article>
            <section class="percentage-bar" data-percent="45%">
              <div class="title">
                <span>
                  <img title="Python" alt="Python" src="../../assets/Python.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">40%</div>
            </section>
            <section class="percentage-bar" data-percent="70%">
              <div class="title">
                <span>
                  <img title="java" class="java" alt="java" id="java" src="../../assets/java.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">70%</div>
            </section>
            <section class="percentage-bar" data-percent="55%">
              <div class="title">
                <span>
                  <img title="Javascript" alt="Javascript" src="../../assets/Javascript.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">50%</div>
            </section>
            <section class="percentage-bar" data-percent="65%">
              <div class="title">
                <span>
                  <img title="c" alt="c" src="../../assets/c.png" style="vertical-align:down; margin:4px" />
                  <br>
                </span>
              </div>
              <div class="bar c"></div>
              <div class="percent">60%</div>
            </section>
            
            <section class="percentage-bar c-sharp" data-percent="55%">
              <div class="title">
                <span>
                  <img title="c-sharp" alt="c-sharp" src="../../assets/c-sharp.png" style="vertical-align:down; margin:4px" />
                  <br>
                </span>
              </div>
              <div class="bar c-sharp"></div>
              <div class="percent">50%</div>
            </section>
            <section class="percentage-bar" data-percent="90%">
              <div class="title">
                <span>
                  <img title="MediaWiki" alt="MediaWiki" src="../../assets/MediaWiki.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">90%</div>
            </section>
            <section class="percentage-bar" data-percent="55%">
              <div class="title">
                <span>
                  <img title="sql" alt="sql" src="../../assets/sql.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">55%</div>
            </section>
            <section class="percentage-bar" data-percent="75%">
              <div class="title">
                <span>
                  <img title="angular" alt="angular" src="../../assets/angular.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">75%</div>
            </section>
            <section class="percentage-bar" data-percent="80%">
              <div class="title">
                <span>
                  <img title="bootstrap" alt="bootstrap" src="../../assets/bootstrap.png" style="vertical-align:down; margin:4px" />
                </span>
              </div>
              <div class="bar"></div>
              <div class="percent">80%</div>
            </section>
          </article>
          <h3 id="motivation-">Motivation 💦</h3>
          <p>When I started at first, I had no motivation at all. I was just playing around with some code. If it works, it works. If it doesn't, it just doesn't. Later then, I started programming for personal tasks, <strong>such as automating daily tasks and saving time on manual but simple work</strong>, and that's when I started to get invested in the field. <br> At first, I was just copy-pasting code. Which is a really bad practice, but eventually I learned how to read documentation. I began reading more documentation, which I thought was useless at first. But as I read more of it, I think they are good use now. Now i feel competent enough to tackle any problem i encounter while working </p>
          <h3 id="projects-">Projects 🔭</h3>
          <p>most of my projects are purely <strong>for personal use</strong>, though I haven't done many public projects with other collabrators, I can list them all here. </p>
          <ul>
            <li>
              <a href="https://github.com/Koussay-Akchi/projetpet/">Projet-Pet</a>: a project coded in ~2 months for university. I contribute nearly all of the front-end and back-end code for this website. 👉 Here is a <a href="https://projet-pet.web.app/">Live website</a>
            </li>
            <li>
              <a href="https://github.com/Koussay-Akchi/Bon-achat-electronique">Bon-achat-electronique</a> : 2 projects about managing electronic vouchers, using different methodologies (Entity framework and raw SQL queries)
            </li>
          </ul>
          <h3 id="thank-you-">Thank you 💖</h3> Thank you for taking the time to read , I appreciate it! Feel free to check out my projects and don't hesitate to reach out if you have any questions or if you'd like to collaborate on something!
          <h3 id="contact-">Contact 📝</h3>
          <ul>
            <li>Email : akchikoussay@gmail.com</li>
            <li><a href="https://github.com/Koussay-Akchi">Github</a></li>
          </ul>
        </div>
        <div class="col-md-3 bg-info sidebar">
          <img class="img-fluid profile-pic" src="../../assets/profile.jpg" alt="Profile Picture">
          <h2>Koussay Akchi</h2>
          <h4>CS Student</h4>
          <hr>
          <p>Email: akchikoussay@gmail.com</p>
          <p>Phone: (+216) 40 862 777</p>
          <p>Location: Tunis, Tunisia</p>
          <p>Age: 20</p> 
          <hr>
          <h4>Interests 🤔</h4>
            <p>Automation</p>
            <p>commercial software development</p>
            <p>Web development</p>
            <p>Scripting</p>
        </div>
      </div>
    </div>
  </div>

  
<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>